@font-face {
  font-family: 'Nunito-Regular';
  src: url('Nunito-Regular.woff2') format('woff2'),
       url('Nunito-Regular.woff') format('woff'),
       url('Nunito-Regular.ttf') format('truetype')
}

h1{
  font-family: 'Nunito-Regular';
  font-weight: lighter;
  font-size: 40px;
}

.content
{
  font-family: 'Nunito-Regular';
  font-weight: lighter;
  font-size: 13px;
}
